<nav class="nav__container">
  <input type="checkbox" class="nav__toggle" id="nav__toggle" />

  <div class="nav__header">
    <a class="nav__logo-container" href="<.= crate::PAGES.home .>">
      <img src="<.= crate::assets::LOGO.path .>" alt="<.= crate::assets::LOGO.name .>" class="nav__logo" />
      <p class="nav__logo-text">KAIZEN</p>
    </a>
    <label class="nav__hamburger-menu" for="nav__toggle">
      <span class="nav__hamburger-inner"></span>
    </label>
  </div>

  <div class="nav__spacer"></div>

  <div class="nav__link-group">
    <div class="nav__link-container">
      <a class="nav__link" rel="noreferrer" href="<.= crate::PAGES.home .>"
        >Home</a
      >
    </div>

    <div class="nav__link-container">
      <a
        class="nav__link"
        rel="noreferrer"
        href="<.= crate::PAGES.panel.campaigns.home .>"
        >Campaigns</a
      >
    </div>

    <div class="nav__link-container">
      <a class="nav__link" rel="noreferrer" href="/settings">Settings</a>
    </div>

    <div class="nav__link-container">
      <a
        class="nav__link"
        rel="noreferrer"
        href="<.= crate::V1_API_ROUTES.auth.logout .>"
        >Log out</a
      >
    </div>
  </div>
</nav>
